<%= render partial: '/shared/header', locals: {project: @project} %>

<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
  <div class="mdl-tabs__tab-bar">
      <a href="#table-panel" class="mdl-tabs__tab is-active">Tabelle</a>
      <a href="#tree-panel" class="mdl-tabs__tab">Baumdiagramm</a>
  </div>

  <div class="mdl-tabs__panel is-active" id="table-panel">
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp wide-table" id="test2">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Produkt</th>
          <th class="mdl-data-table__cell--non-numeric">Teilprodukt</th>
          <th class="mdl-data-table__cell--non-numeric">Modul</th>
          <th class="mdl-data-table__cell--non-numeric">Komponente</th>
        </tr>
      </thead>
      <tbody>
          <tr class="first-level">
            <td class="mdl-data-table__cell--non-numeric"><%= @project.title %></td>
            <td class="mdl-data-table__cell--non-numeric" colspan="3">
              <%= form_for @subproduct, url: {action: "create", controller: 'subproducts'} do |f| %>
                <%= f.hidden_field :project_id, value: @project.id %>
                <%= f.text_field :name %>
                <%= f.button '', class: 'mdl-button mdl-js-button mdl-button--icon' do %>
                  <i class="material-icons">add_circle</i>
                <% end %>
              <% end %>
            </td>
          </tr>
          <% @project.subproducts.each do |subproduct| %>
            <tr class="second-level">
              <td></td>
              <td class="mdl-data-table__cell--non-numeric"> <%= subproduct.name %></td>
              <td class="mdl-data-table__cell--non-numeric" colspan="2">
                <%= form_for @modul, url: {action: "create", controller: 'moduls'} do |f| %>
                  <%= f.hidden_field :project_id, value: @project.id %>
                  <%= f.hidden_field :subproduct_id, value: subproduct.id %>
                  <%= f.text_field :name %>
                  <%= f.button '', class: 'mdl-button mdl-js-button mdl-button--icon' do %>
                    <i class="material-icons">add_circle</i>
                  <% end %>
                <% end %>
              </td>
            </tr>
            <% subproduct.moduls.each do |modul| %>
              <tr class="third-level">
                <td></td>
                <td></td>
                <td class="mdl-data-table__cell--non-numeric"> <%= modul.name %></td>
                <td class="mdl-data-table__cell--non-numeric">
                  <%= form_for @component, url: {action: "create", controller: 'components'} do |f| %>
                    <%= f.hidden_field :project_id, value: @project.id %>
                    <%= f.hidden_field :modul_id, value: modul.id %>
                    <%= f.text_field :name %>
                    <%= f.button '', class: 'mdl-button mdl-js-button mdl-button--icon' do %>
                      <i class="material-icons">add_circle</i>
                    <% end %>
                  <% end %>
                </td>
              </tr>
              <% modul.components.each do |component| %>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class="mdl-data-table__cell--non-numeric"> <%= component.name %></td>
                </tr>
              <% end %>
            <% end %>
          <% end %>
      </tbody>
    </table>
  </div>
  <div class="mdl-tabs__panel" id="tree-panel">
    <div id='chart'></div>
    <%= render_chart(@pbs_chart, 'chart') %>
  </div>
</div>

