<%= render partial: '/shared/header', locals: {project: @project} %>

<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
  <div class="mdl-tabs__tab-bar">
      <a href="#table-panel" class="mdl-tabs__tab is-active">Tabelle</a>
      <a href="#tree-panel" class="mdl-tabs__tab">Baumdiagramm</a>
  </div>

  <div class="mdl-tabs__panel is-active" id="table-panel">
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp wide-table" id="test2">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Produkt</th>
          <th class="mdl-data-table__cell--non-numeric">Teilprodukt</th>
          <th class="mdl-data-table__cell--non-numeric">Modul</th>
          <th class="mdl-data-table__cell--non-numeric">Komponente</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td class="mdl-data-table__cell--non-numeric"><%= @project.title %></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td class="mdl-data-table__cell--non-numeric" colspan="3">
            <%= form_for @subproduct, url: {action: "create", controller: 'subproducts'} do |f| %>
              <%= f.hidden_field :project_id, value: @project.id %>
              <%= f.text_field :name %>
              <%= f.button '', class: 'mdl-button mdl-js-button mdl-button--icon mdl-button--colored' do %>
                <i class="material-icons">add_circle</i>
              <% end %>
            </td>
            <% end %>
          </tr>
          <% @project.subproducts.each do |subproduct| %>
            <tr>
              <td></td>
              <td class="mdl-data-table__cell--non-numeric"> <%= subproduct.name %></td>
              <td></td>
              <td></td>
            </tr>
          <% end %>
      </tbody>
    </table>
  </div>
  <div class="mdl-tabs__panel" id="tree-panel">
  </div>
</div>

