<%= render partial: '/shared/header', locals: {project: @project} %>
<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
  <div class="mdl-tabs__panel is-active" id="table-panel">
    <%= render partial: '/shared/flash_message'%>
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp wide-table" id="test2">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Projekt</th>
          <th class="mdl-data-table__cell--non-numeric">Arbeitspaket</th>
          <th class="mdl-data-table__cell--non-numeric">Frage</th>
        </tr>
      </thead>
      <tbody>
          <tr class="first-level">
            <td class="mdl-data-table__cell--non-numeric"><%= @project.title %><%=@questionary.id%></td>
          </td>
            <%= form_for @quest, url: {action: "create", controller: 'question'} do |f| %>
            <%= f.hidden_field :questionary_id, value: @questionary.id %>
            <td class="mdl-data-table__cell--non-numeric">

              <%= f.select(:workpackage_id,@packages) %>

            </td>
            <td class="mdl-data-table__cell--non-numeric" colspan="3">

                <%= f.text_field :frage %>
                  <%= f.button '', class: 'mdl-button mdl-js-button mdl-button--icon' do %>
                  <i class="material-icons">add_circle</i>
                <% end %>
              <% end %>
            </td>
          </tr>
          <% @questionary.questions.each do |quest| %>
            <tr class="second-level">
              <td></td>
              <td class="mdl-data-table__cell--non-numeric">
                <%=quest.workpackage.subtask.task.name%>/<%=quest.workpackage.subtask.name%>/<%=quest.workpackage.name%>
              </td>
              <td class="mdl-data-table__cell--non-numeric" colspan="2">
                <%=quest.frage%>
              </td>
            </tr>
          <% end %>
      </tbody>
    </table>
  </div>
</div>