<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
   <div class="mdl-tabs__tab-bar">
      <a href="#table-panel" class="mdl-tabs__tab is-active">Tabelle</a>
      <a href="#tree-panel" class="mdl-tabs__tab">Baumdiagramm</a>
  </div>
  <div class="mdl-tabs__panel is-active" id="table-panel">
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp wide-table" id="test2">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Projekt</th>
          <th class="mdl-data-table__cell--non-numeric">Art</th>
          <th class="mdl-data-table__cell--non-numeric">Rolle</th>
          <th class="mdl-data-table__cell--non-numeric">Qualifikation</th>
          <th class="mdl-data-table__cell--non-numeric">Erfahrung</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td><%= @project.title %></td>
            <td>
              <%= form_for @kind, url: {action: "create", controller: 'rbs'} do |f| %>
              <%= f.hidden_field :project_id, value: @project.id %>
              <%= f.text_field :name %>
              <%= f.button '', class: 'mdl-button mdl-js-button mdl-button--icon mdl-button--colored' do %>
              <i class="material-icons">add_circle</i>
              <% end %>
            </td>
            <% end %>
            <td></td>
            <td></td>
            <td></td>
          </tr>

            <% @project.kinds.each do |kind| %>
              <tr>
                <td></td>
                <td class="mdl-data-table__cell--non-numeric"><%=kind.name %></td>
                <%= form_for @role, url: {action: "create", controller: 'role'} do |f| %>
                <%= f.hidden_field :kind_id, value: kind.id %>
                <td><%= f.text_field :name %></td>
                <td><%= f.text_field :qualifikation %></td>
                <td>
                  <%= f.text_field :experience %>
                  <%= f.button '', class: 'mdl-button mdl-js-button mdl-button--icon mdl-button--colored' do %>
                    <i class="material-icons">add_circle</i>
                    <% end %>
                </td>
                <%end%>
              </tr>

                <% kind.roles.each do |role| %>
                   <tr>
                      <td class="mdl-data-table__cell--non-numeric">t</td>
                      <td class="mdl-data-table__cell--non-numeric"></td>
                      <td class="mdl-data-table__cell--non-numeric"><%=role.name%></td>
                      <td class="mdl-data-table__cell--non-numeric">
                        <%=role.qualifikation%>
                      </td>
                      <td class="mdl-data-table__cell--non-numeric">
                        <%=role.experience%>
                      </td>
                    </tr>
                <%end%>

            <%end%>

      </tbody>
    </table>
  </div>
  <div class="mdl-tabs__panel" id="tree-panel">
    <div id='rdm_chart'></div>
        <%=ressource_breakdown_chart %>
  </div>
</div>