<%= render partial: '/shared/header', locals: {project: @project, linkVariable: @project, section: 'Ressource-Breakdown-Structure'} %>

<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
   <div class="mdl-tabs__tab-bar">
      <a href="#table-panel" class="mdl-tabs__tab is-active">Tabelle</a>
      <a href="#tree-panel" class="mdl-tabs__tab">Baumdiagramm</a>
  </div>
  <div class="mdl-tabs__panel is-active" id="table-panel">
    <%= render partial: '/shared/flash_message'%>
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp wide-table" id="test2">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Projekt</th>
          <th class="mdl-data-table__cell--non-numeric">Art</th>
          <th class="mdl-data-table__cell--non-numeric">Rolle</th>
          <th class="mdl-data-table__cell--non-numeric">Qualifikation</th>
          <th class="mdl-data-table__cell--non-numeric">Erfahrung</th>
        </tr>
      </thead>
      <tbody>
          <tr class="first-level">
            <td class="mdl-data-table__cell--non-numeric"><%= @project.title %></td>
            <td class="mdl-data-table__cell--non-numeric">
              <%= form_for @kind, url: {action: "create", controller: 'rbs'} do |f| %>
              <%= f.hidden_field :project_id, value: @project.id %>
              <%= f.text_field :name %>
              <%= f.button '', class: 'mdl-button mdl-js-button mdl-button--icon' do %>
              <i class="material-icons">add_circle</i>
              <% end %>
            </td>
            <% end %>
            <td></td>
            <td></td>
            <td></td>
          </tr>

            <% @project.kinds.each do |kind| %>
              <tr class="second-level">
                <td></td>

                <td class="mdl-data-table__cell--non-numeric">
                  <%=kind.name %>
                </td>

                <%= form_for @role, url: {action: "create", controller: 'role'} do |f| %>
                <%= f.hidden_field :kind_id, value: kind.id %>
                <td class="mdl-data-table__cell--non-numeric"><%= f.text_field :name %>
                <%= f.button '', class: 'mdl-button mdl-js-button mdl-button--icon' do %>
                    <i class="material-icons">add_circle</i>
                    <% end %>
                </td>
                <td class="mdl-data-table__cell--non-numeric"></td>
                <td class="mdl-data-table__cell--non-numeric">


                </td>
                <%end%>
              </tr>

                <% kind.roles.each do |role| %>
                   <tr class="third-level">
                      <td class="mdl-data-table__cell--non-numeric"></td>
                      <td class="mdl-data-table__cell--non-numeric"></td>
                      <td class="mdl-data-table__cell--non-numeric"><%=role.name%></td>
                      <%= form_for @req, url: {action: "create", controller: 'requirment'} do |f| %>
                      <%= f.hidden_field :role_id, value: role.id %>
                      <td class="mdl-data-table__cell--non-numeric">
                        <%= f.text_field :qualifikation %>
                      </td>
                      <td class="mdl-data-table__cell--non-numeric">
                        <%= f.text_field :experience %>
                        <%= f.button '', class: 'mdl-button mdl-js-button mdl-button--icon' do %>
                        <i class="material-icons">add_circle</i>
                      <% end %>
                      </td>
                    </tr>
                    <% role.requirments.each do |req| %>
                      <tr class="fourth-level">
                      <td class="mdl-data-table__cell--non-numeric"></td>
                      <td class="mdl-data-table__cell--non-numeric"></td>
                      <td class="mdl-data-table__cell--non-numeric"></td>
                      <td class="mdl-data-table__cell--non-numeric">
                        <%=req.qualifikation%>
                      </td>
                      <td class="mdl-data-table__cell--non-numeric">
                        <%=req.experience%>
                      <% end %>
                      </td>
                    </tr>

                    <%end%>
                <%end%>

            <%end%>

      </tbody>
    </table>
  </div>
  <div class="mdl-tabs__panel" id="tree-panel">
    <div id='chart'>

    </div>
    <%= render_chart(@rbs_chart, 'chart') %>
</div>