<%= render partial: '/shared/header', locals: {project: @project} %>


<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    <h5> Meine Events bearbeiten</h5>
    <hr>

    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp wide-table" id="test2">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Eventnummer</th>
          <th class="mdl-data-table__cell--non-numeric">Event</th>
          <th class="mdl-data-table__cell--non-numeric">Startzeitpunkt</th>
          <th class="mdl-data-table__cell--non-numeric">Endzeitpunkt</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @events.each do |event| %>
          <tr>
            <td class="mdl-data-table__cell--non-numeric"><%= event.id %></td>
            <td class="mdl-data-table__cell--non-numeric"><%= event.title %></td>
            <td class="mdl-data-table__cell--non-numeric"><%= event.startDate %></td>
            <td class="mdl-data-table__cell--non-numeric"><%= event.endDate %></td>
            <td>
              <%= link_to event, method: :delete, data: { confirm: 'Soll das Event wirklich gelöscht werden?' }, class: 'mdl-button mdl-js-button mdl-button--icon mdl-button--colored button-middle' do %>
                <i class="material-icons">delete</i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
  </div>

</div>









<h1>Editing Event</h1>

<%= render 'form' %>

<%= link_to 'Show', @event %> |
<%= link_to 'Back', events_path %>
