<%= render partial: '/shared/header', locals: {project: @project, linkVariable: events_path(project: @project), section: 'Roadmap-Parameter bearbeiten'} %>


<div class="mdl-grid">

  <div class="mdl-cell mdl-cell--12-col">
    <%= form_for @event, url: {action: "update"} do |f| %>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" id="event_startDate" name="event[startDate]" type="date">
      <label class="mdl-textfield__label" for="event_startDate"></label>
    </div>

    <div class="control-group">
      <%= f.label :Fragenrunde, class: 'control-group' %>
      <div class_"controls">
        <%= collection_select( :event, :questionarys_id, Questionary.all, :id, :runde, {}, {:multiple => false} ) %>
      </div>
    </div>

      <br>
      <br>
      <%= f.submit "Speichern", class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-color--indigo-500' %>
    <% end %><br>
  </div>

</div>
