<%= render partial: '/shared/header', locals: {project: @project} %>

<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp wide-table" id="test2">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Eventnummer</th>
      <th class="mdl-data-table__cell--non-numeric">Event</th>
      <th class="mdl-data-table__cell--non-numeric">Startzeitpunkt</th>
      <th class="mdl-data-table__cell--non-numeric">Endzeitpunkt</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @project.events.each do |event| %>
      <tr>
        <td class="mdl-data-table__cell--non-numeric"><%= event.id %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= event.title %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= event.startDate %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= event.endDate %></td>
        <td>
          <%= link_to event, method: :delete, data: { confirm: 'Soll das Event wirklich gelöscht werden?' }, class: 'mdl-button mdl-js-button mdl-button--icon mdl-button--colored button-middle' do %>
            <i class="material-icons">delete</i>
          <% end %>
        </td>
        <td>
          <%= link_to edit_event_path(event.id), class: 'mdl-button mdl-js-button mdl-button--icon mdl-button--colored button-middle' do %>
            <i class="material-icons">mode_edit</i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
