<%= render partial: '/shared/header', locals: {project: @project, linkVariable: @project, section: 'Roadmap'} %>

<div class="mdl-cell mdl-cell--6-col">

  <h5>
    Deine Roadmap-Szenarien
  </h5>

  <% if @project.events.any? then%>
  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp wide-table" id="test2">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">Projekt Startzeitpunkt</th>
        <th class="mdl-data-table__cell--non-numeric">Fragenrunde</th>
        <th class="mdl-data-table__cell--non-numeric"></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @project.events.each do |event| %>
      <tr>
        <td class="mdl-data-table__cell--non-numeric"><%= event.startDate %></td>
        <td class="mdl-data-table__cell--non-numeric">
          <% @questionary = Questionary.find(event.questionarys_id) %>
          <%= @questionary.runde %>
        </td>
        <td>
          <%= link_to event, method: :delete, data: { confirm: 'Soll das Event wirklich gelöscht werden?' }, class: 'mdl-button mdl-js-button mdl-button--icon mdl-button--colored button-middle' do %>
          <i class="material-icons">delete</i>
          <% end %>
        </td>
        <td>
          <%= link_to event, class: 'mdl-button mdl-js-button mdl-button--icon mdl-button--colored button-middle' do %>
          <i class="material-icons" id="folder_open">folder_open</i>
          <% end %>
        </td>
        <td>
          <%= link_to edit_event_path(event.id, project: @project), class: 'mdl-button mdl-js-button mdl-button--icon mdl-button--colored button-middle' do %>
          <i class="material-icons">mode_edit</i>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>

  <br>

  <% if @project.questionarys.any? then %>
  <%= link_to new_event_path(project: @project) , class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-color--indigo-500' do %>
  <i class="material-icons">add</i>
  Neues Roadmap-Szenario
  <% end %>
  <% else %>
  <i class="material-icons">report_problem</i>
  Bitte erst einen Fragebogen ausfüllen
  <% end %>
</div>
