  <header class="mdl-layout__header project-header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
    <span class="mdl-layout-title">
      <%= link_to projects_path , class: 'mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored mdl-color--indigo-500' do %>
      <i class="material-icons">keyboard_arrow_left</i>
      <% end %> <%= @project.title %>
    </span>
    <span class="project-description"><%= @project.description %></span>
  </header>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
      <div class="mdl-tabs__tab-bar">
          <a href="#pbs" class="mdl-tabs__tab is-active">Product Breakdown</a>
          <a href="#wbs" class="mdl-tabs__tab">Work Breakdown</a>
          <a href="#rbs" class="mdl-tabs__tab">Ressource Breakdown</a>
      </div>

<!-- Product Breakdown Structure -->
      <div class="mdl-tabs__panel is-active" id="pbs">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--6-col">

            <!-- Neues Produkt -->
            <% unless @project.product %>
              <h6> Es wurde noch kein Produkt angelegt! </h6>
              <%= form_for @product, url: {action: "create", controller: 'products'} do |f| %>
                <%= f.hidden_field :project_id, :value => @project.id %>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input type="text" name="product[name]" id="product_name" class="mdl-textfield__input">
                  <label class="mdl-textfield__label" for="product_name">Name</label>
                </div>
                <br>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input type="text" name="product[description]" id="product_description" class="mdl-textfield__input">
                  <label class="mdl-textfield__label" for="product_description">Beschreibung</label>
                </div>
                <br>
                <br>
                <%= f.submit "Erstellen", class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-color--indigo-500' %>
              <% end %><br>
            <% end %>

            <!-- Produkt anzeigen -->
            <% if @project.product %>
              <div class="mdl-shadow--2dp product-item">
                  <h6><%= @project.product.name %></h6>
                  <%= @project.product.description %><br><br>
                  <%= link_to '', class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-color--indigo-500' do %>
                    Öffnen
                  <% end %>
              </div>
            <% end %>
          </div>


          <!-- Chart Anzeigen -->
          <div class="mdl-cell mdl-cell--6-col">
            <div id='pbs_chart'></div>
            <%= render_chart @pbs_chart, 'pbs_chart' %>
          </div>
        </div>
      </div>

      <!-- Work Breakdown Structure -->
      <div class="mdl-tabs__panel" id="wbs">
        wbs content
      </div>


      <!-- Ressource Breakdown Structure -->
      <div class="mdl-tabs__panel" id="rbs">
        rbs content
      </div>
    </div>
  </div>
</div>