  <header class="mdl-layout__header project-header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
    <span class="mdl-layout-title">
      <%= link_to projects_path , class: 'mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored mdl-color--indigo-500' do %>
      <i class="material-icons">keyboard_arrow_left</i>
      <% end %> <%= @project.title %>
    </span>
    <span class="project-description"><%=truncate(@project.description, :length => 120) %></span>
  </header>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col">
    <!-- Product Breaktdown -->
    <div class="picture_pbs structure mdl-card mdl-shadow--2dp">
      <div class="picture_pbs format mdl-card__title mdl-card--expand">
        <h2 class="picture_pbs format mdl-card__title-text">Product Breakdown Structure</h2>
      </div>
      <div class="mdl-card__supporting-text">
        Erfassen und Editieren sie die Product Breakdown Structure
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <%= link_to pbs_path(project: @project), class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect' do %>Anzeigen <%end%>
      </div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--4-col">
    <div class="picture_rbs structure mdl-card mdl-shadow--2dp">
      <div class="format mdl-card__title mdl-card--expand">
        <h2 class="format mdl-card__title-text">Ressource Breakdown Structure</h2>
      </div>
      <div class="mdl-card__supporting-text">
        Erfassen und Editieren sie die Ressource Breakdown Structure
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <%= link_to rbs_path(project: @project), class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect' do %>Anzeigen <%end%>
      </div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--4-col">
    <div class="structure mdl-card mdl-shadow--2dp">
      <div class="format mdl-card__title mdl-card--expand">
        <h2 class="format mdl-card__title-text">Work Breakdown Structure</h2>
      </div>
      <div class="mdl-card__supporting-text">
        Erfassen und Editieren sie die Work Breakdown Structure
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <%= link_to wbs_path(project: @project), class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect' do %>Anzeigen <%end%>
      </div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--4-col">
    <div class="structure mdl-card mdl-shadow--2dp">
      <div class="format mdl-card__title mdl-card--expand">
        <h2 class="format mdl-card__title-text">Breitband-Delphi-Methode</h2>
      </div>
      <div class="mdl-card__supporting-text">
        Erfassen und Editieren sie die Breitband-Delphi-Methode
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <%= link_to delphi_index_path(project: @project), class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect' do %>Anzeigen <%end%>
      </div>
    </div>
  </div>



  <div class="mdl-cell mdl-cell--4-col">
    <div class="structure mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title mdl-card--expand">
        <h2 class="mdl-card__title-text">Roadmap</h2>
      </div>
      <div class="mdl-card__supporting-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Aenan convallis.
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <%= link_to events_path(project: @project), class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect' do %>Anzeigen <%end%>
      </div>
    </div>
  </div>



</div>
