<!DOCTYPE html>
<html>
<head>
  <title>Projektmanagement</title>
  <%= javascript_include_tag 'http://www.google.com/jsapi' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">Projektmanagement</span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation. We hide it in small screens. -->
          <nav class="mdl-navigation mdl-layout--large-screen-only">
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Projekte</span>
        <nav class="mdl-navigation">
          <% @projects.each do |project| %>
            <%= link_to project, class: 'mdl-navigation__link' do %><%= project.title %><% end %>
          <% end %>
        </nav>
      </div>
      <main class="mdl-layout__content">
          <div class="mdl-grid mdl-grid--no-spacing">
            <div class="mdl-cell mdl-cell--12-col page-layout">
              <%= yield %>
            </div>
          </div>
      </main>
    </div>
  </body>
</html>
